<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://calcu-function.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/9cd56338-75bf-4459-badf-160ce6473f69/resourceGroups/Calculator/providers/Microsoft.Web/sites/calcu-function</ResourceId>
    <UserName>$calcu-function</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://calcu-function.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>